@{
    ViewBag.Title = "Events/Nightlife";
}
<div class="topnav">
    <a class="active" href="#events/nightlife">Events/Nightlife</a>
    <a href="#budgeting">Budgeting</a>
    <a href="#fashion/culture">Local Fashion/Culture</a>
    <a href="#safety">Safety</a>
</div> 