@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Travel App</h1>
    <p class="lead">The Student Travel App is the home of information about destination cities for travelling students.</p>
</div>

<div class="topnav">
    <a class="active" href="#events/nightlife">Events/Nightlife</a>
    <a href="#budgeting">Budgeting</a>
    <a href="#fashion/culture">Local Fashion/Culture</a>
    <a href="#safety">Safety</a>
    
         <div class="search-container">
        <form action="/action_page.php">
            <button type="submit" class="btn btn-circle"> <i class="glyphicon glyphicon-search"></i></button>
            <input type="text" placeholder="Search City..." name="search">
        </form>
        </div>


    <form id="flight">
        <label>
            Start <br />
            <input type="date" name="start" value="Today" />
        </label>

        <label>
            -
        </label>

        <label>
            End <br />
            <input type="date" name="end" data-value="7" value="After one week" />
        </label>
    </form>

</div>






